apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}-svc
{{if .Namespace}}  namespace: {{.Namespace}}
{{end}}spec:
  selector:
    app: {{.Name}}
  ports:
  - port: {{.Port}}
    targetPort: {{.Port}}
